.confirm-dialog-container {
    border-radius: 0;
    box-shadow: rgba(60, 64, 67, 0.3) 0 1px 2px 0, rgba(60, 64, 67, 0.15) 0 2px 6px 2px;
}

.confirm-dialog-title {
    font-weight: bold;
    background-color: #F8F9F9;
}