
  .header-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent; /* 👈 makes it transparent */
    color: white;
    padding: 20px 50px; 
    font-family: 'Segoe UI', sans-serif;
  }
  
  .header-left {
    display: flex;
    align-items: center;
  }
  
  .header-icon {
    margin-right: 10px;
    color: #ffff;
  }
  
  .header-title {
    font-size: 20px;
    font-weight: 600;
    color: white;
  }
  
  .header-nav {
    display: flex;
    align-items: center;
  }
  
  .nav-item {
    margin: 0 12px;
    text-decoration: none;
    color: white;
    font-weight: 600;
    transition: color 0.3s;
    
  }
  
  .nav-item:hover {
    color: #f39c12;
  }
  
  .logout-icon {
    margin-left: 20px;
    cursor: pointer;
    color: #ffff;
    transition: color 0.3s;
  }
  
  .logout-icon:hover {
    color: red;
  }
    